<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<title>关于</title>
	</head>
	<body>
		<%- include('../common/header.ejs') %>
		<div class="container">
			<h1>关于</h1>
			<p id="msg"></p>
			<a href="index.html">去首页</a>
		</div>
	</body>
</html>
