<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<title>首页</title>
	</head>
	<body>
		<%- include('../common/header.ejs') %>
		<div class="container">
			<h1>Webpack5 + jQuery + EJS 多页面项目</h1>
			<p id="msg"></p>
			<a href="about.html">去关于页</a>
		</div>
	</body>
</html>
